version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: php_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - app-network

  db:
      image: mysql:5.7
      container_name: mysql_db
      restart: always
      environment:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        MYSQL_DATABASE: ${MYSQL_DATABASE}
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      ports:
        - "${MYSQL_PORT}:3306"
      volumes:
        - db_data:/var/lib/mysql
        - ./banco_de_dados.sql:/docker-entrypoint-initdb.d/banco.sql
      networks:
        - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge
